* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Exo 2', sans-serif;
    background-color: black;
}


nav{
    background: black;
    color: aliceblue;
}


.nav-link {
    color: rgb(4, 237, 43);
}



#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}


#navBar{
    margin-bottom: 5%;
}

#cardjuego{
    background: rgb(20,168,21);
    background: linear-gradient(180deg, rgba(20,168,21,1) 8%, rgba(4,4,4,1) 84%);
    color: aliceblue;
    margin-right: 3%;
    padding: 3%;

}
#titulojuego{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#imgbajas{
    width: 500px;
    height: 700px;
    overflow:hidden;
    margin: 2%;
    margin-left: 4.5%;
}
#imgrecomen{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
    filter: grayscale(100%);

}
#imgrecomen:hover{
    transform: scale(1.2);
    filter: grayscale(0%);
}


li img {
    height: auto;
    max-width: 50px;
}

#userBtn,
#exitBtn{
    color: #00ff00;
}
