* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/IMG/error3.jpg");
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 279px) {
    body {
        background-size: contain;
    }
}

button img {
    position: absolute;
    top: 1px;
    left: 5px;
    width: 100px;
    height: 100px;
}